.container {
  &.contact {
    @include viewport-xl {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
}

.wrap {
  @include viewport-lg {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-top: 60px;
  }
}

.contacts {
  flex: 1 1 510px;

  &__inner {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;

    @include viewport-md {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__location {
    color: $main-color;
    padding-bottom: 30px;
    border-bottom: 4px solid $separator-color;
  }

  &__contacts {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid $separator-color;
    display: flex;
    flex-direction: column;
    gap: 15px;

  }

  &__phone {
    @include contact-link($alt-color);
    display: inline;
  }

  &-mail {
    @include contact-link($regular-color);
    display: inline;
  }

  &__social {
    padding-top: 30px;
  }


  &__social-link {
    @include base-link($regular-color);
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;

    &:hover {
      svg {
        fill: $accent-color;
      }
    }
  }

  &__facebook-icon {
    width: 38px;
    height: 38px;
    fill: $regular-color;
    transition: .2s;

    &:hover {
      fill: $accent-color;
    }
  }

}