
.form {
  flex: 1 1 510px;
  &__container {
    padding-bottom: 30px;
    @include viewport-md {
      padding-bottom: 60px;
    }
  }

  &__box {
    background: $bg-color;
    padding: 30px;
    border-radius: $radius-md;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    @include subtitle;
    @include main-gradient-text;
    @include viewport-md {
      font-size: 30px;
    }

  }

  &__name, &__data {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__input {
    background: $basic-white;
    line-height: 1.6;
    border-radius: $radius-sm;

    & input, & textarea {
      padding: 15px;
      outline: none;
      color: $basic-black;
      resize: none;
      width: 100%;
      height: 100%;
      border-radius: $radius-sm;
      border: 1px solid $basic-white;
    }

    & input::placeholder, & textarea::placeholder {
      color: $text-color;
    }

    &.message {
      height: 130px;
    }

    & input:focus, & textarea:focus {
      border-color: $regular-color;
    }
  }

  &__subtitle {
    color: $text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__submit-button {
    color: $basic-white;
    text-align: center;
    font-weight: 700;
    padding: 18px;
    border-radius: $radius-md;
    background: $regular-color;
    cursor: pointer;
    box-shadow: 0 0 20px 0 $box-shadow-color;
    transition: .2s;

    &:hover {
      background: $hover-color;
    }

    &:active {
      background: $active-color;
    }
  }
}
