body {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  background: $gradient-supersoft;
  border-radius: 0 0 $radius-md $radius-md;
  position: relative;
}

.wrapper-border-bottom {
  display: block;
  margin: 0 auto;
  width: calc(100% - 40px);
  height: 10px;
  border-radius: 0 0 $radius-md $radius-md;
  background: $wrapper-bottom-color;
}

.wrapper-border-bottom-light {
  width: calc(100% - 80px);
  background: $wrapper-bottom-color-light;
}

.container {
  padding: 0 30px;

  @include viewport-md {
    max-width: 708px;
    margin: 0 auto;
  }
  @include viewport-lg {
    max-width: 964px;
  }
  @include viewport-xl {
    max-width: 1380px;
  }
  @include viewport-xxl {
    max-width: 1660px;
  }
}

.dotted {
  display: none;
  @include viewport-md {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: $radius-rounded;
    background: $separator-color;

    &.gray {
      background: $text-color;
    }
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}