.partners {
}

.partners-title {
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.partners__container {
}


.partners__item {
  display: grid;

  @include viewport-md {
    grid-template-columns: repeat(3, 1fr);
  }
  @include viewport-lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.partners__item div {
  height: 120px;
  width: 100%;
}

.partners__item div:nth-child(n+7) {
  display: none;

  @include viewport-md {
    display: block;
  }
}

$partner-colors: $partner-color-1, $partner-color-2, $partner-color-3, $partner-color-4, $partner-color-5,
$partner-color-6, $partner-color-7, $partner-color-8, $partner-color-9, $partner-color-10,
$partner-color-11, $partner-color-12;

$partner-names: hillel, wannabiz, tapgerine, threedlook, orangear, adtelligent, clickky, eco-leasing, infratek, city-park, artprint, ultimatecard;
$partner-specials: 48px, 32px, 44px, 42px, 44px, 48px, 61px, 76px, 60px, 38px, 46px, 95px;

@for $i from 1 through length($partner-names) {
  .partners__item__#{nth($partner-names, $i)} {
    background: nth($partner-colors, $i) url("../images/partner-#{$i}-#{nth($partner-names, $i)}.png") no-repeat center/auto #{nth($partner-specials, $i)};
  }
}
