// vars
// colors

// main
$main-color: #323264;
$alt-color: #46466e;
$soft-color: #686887;

// accent
$accent-color: #f0145a ;

//active
$regular-color: #24a3ff ;
$hover-color: #0085ff ;
$active-color: #006ccf ;

//grey
$bg-color: #f5f5fa;
$bg-alt-color: #ededf7;
$text-color: #b3b3ba;
$separator-color: #e6e6f0;

// gradient
$gradient: linear-gradient(130deg, #323264, #323264 70%, #a54b5f);
$gradient-soft: linear-gradient(42deg,  #323264 15%,  #323264 50%,  #7a425e 88%);
$gradient-red: linear-gradient(325deg, #f0145a 5%, #693264 70%);
$gradient-supersoft: linear-gradient(230deg, #323264 10%, #323264 60%, #643e72 90%);
$gradient-red-text: linear-gradient(90deg, #f0145a, #ef8080);